:root {
    --primary-background: #FFF;
    --second-background: #F5F4FA;
    --dark-background: #2F303A;
    --accent-color: #2196F3;
    --contact-color: rgba(255, 255, 255, 0.6);
    --main-color: #757575;
    --title-color: #212121;
    --shadow-color: #EEEEEE;
    --order-hover: #188CE8;
    --logo-second-half: #000000;
}

body {
    font-family: 'Roboto', sans-serif;
    background: var(--primary-background)
}

/*WebStudio*/
nav > a {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--logo-second-half);
}

nav > a > span {
    letter-spacing: 0.03em;
    color: var(--accent-color);
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.studio,
.portfolio,
.contacts {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    color: var(--title-color);
}

.current {
    color: var(--accent-color);
}

.studio:active, .portfolio:active, .contacts:active  {
    color: var(--accent-color);
}

.contacts:hover, .studio:hover, .portfolio:hover {
    color: var(--accent-color);
}

.contacts:current, .studio:current, .portfolio:current {
    color: var(--accent-color);
}

.mail-h {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    color: var(--main-color);
}

.tel-h {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    color: var(--main-color);
}

.mail-h:hover, .tel-h:hover, .mail-h:active, .tel-h:active{
    color: var(--accent-color); 
} 

/*Main-webstudio*/

.hat {
    background-color: var(--dark-background);
}

.head {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--primary-background);
}

.order {
    cursor: pointer;
    background: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}

.order:hover {
    background: var(--order-hover);
}

.text-order {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.8;
    
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--primary-background);
}

.title-softskills {
    display: none;
}

.skills {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--title-color);
}

.prg {
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--main-color);
}

.whatdo {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-color);
}

.section-team {
    background: var(--second-background);
}

.ourteam {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-color);
}

.people1, .people2, .people3, .people4 {
    background: var(--primary-background);
}

.developer {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-color);    
}

.sub-d {
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-color);
}

/*Main-portfolio*/
.projects-title {
    display: none;
}

.filter {
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-color);
    background: var(--second-background);
    border-radius: 4px;
}

.filter:active, .filter:hover, .filter:focus {
    color: var(--primary-background);
    background: var(--accent-color);
}

.box-prj {
    background: var(--primary-background);
    border: 1px solid var(--shadow-color);
}

.name-develop {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--title-color);
}
    
.sub-name {  
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.03em;
    color: var(--main-color);
}

footer {
    background-color: var(--dark-background);
}

footer > a {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--primary-background);
}

footer > a > span {
    letter-spacing: 0.03em;
    color: var(--accent-color);
}

.location {
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--primary-background);
}

.mail-f {
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--contact-color);
}

.tel-f {
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--contact-color);
}

.mail-f:hover, .tel-f:hover, .mail-f:active, .tel-f:active{
    color: var(--accent-color); 
} 