.body-portfolio {
    font-family: 'Ralewey', 'Roboto', sans-serif;
    position: relative;
    width: 1600px;
    height: 1880px;
    background: #FFFFFF;
}

.header-portfolio {
    position: absolute;
    width: 1600px;
    height: 80px;
    left: 0px;
    top: 0px;
}

/*WebStudio*/
nav > a {
    position: absolute;
    width: 145px;
    height: 31px;
    left: 215px;
    top: 24px;
    
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: #000000;
}

nav > a > span {
    letter-spacing: 0.03em;
    color: #2196F3;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.menu-nav {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #212121;
}

.menu-nav:active {
    color: #2196F3; 
}

/*navigation*/

.studio {
    position: absolute;
    width: 49px;
    height: 16px;
    left: 453px;
    top: 32px;
}

.portfolio {
    position: absolute;
    width: 77px;
    height: 16px;
    left: 552px;
    top: 32px;
}

.contacts {
    position: absolute;
    width: 68px;
    height: 16px;
    left: 679px;
    top: 32px;
}

.contact-header {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #757575;
}

.tel-h {
    position: absolute;
    width: 122px;
    height: 16px;
    left: 1263px;
    top: 32px;
}

.mail-h {
    position: absolute;
    width: 135px;
    height: 16px;
    left: 1078px;
    top: 32px;
}

.line {
    text-decoration: none;
    position: absolute;
    width: 1600px;
    height: 0px;
    left: 0px;
    top: 80px;
    border: 1px solid #ECECEC;
}

