body {
    display: flex;
    margin: auto;
}

.body-portfolio {
    font-family: 'Ralewey', 'Roboto', sans-serif;
    position: relative;
    width: 1600px;
    height: 1880px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.header-portfolio {
    position: absolute;
    width: 1600px;
    height: 80px;
    left: 0px;
    top: 0px;
}

/*WebStudio*/
nav > a {
    position: absolute;
    width: 145px;
    height: 31px;
    left: 215px;
    top: 24px;
    
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: #000000;
}

nav > a > span {
    letter-spacing: 0.03em;
    color: #2196F3;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.menu-nav {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #212121;
}

.menu-nav:active {
    color: #2196F3; 
}

/*navigation*/

.studio {
    position: absolute;
    width: 49px;
    height: 16px;
    left: 453px;
    top: 32px;
}

.portfolio {
    position: absolute;
    width: 77px;
    height: 16px;
    left: 552px;
    top: 32px;
}

.contacts {
    position: absolute;
    width: 68px;
    height: 16px;
    left: 679px;
    top: 32px;
}

.tel-h {
    position: absolute;
    width: 122px;
    height: 16px;
    left: 1263px;
    top: 32px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #757575;
}

.mail-h {
    position: absolute;
    width: 135px;
    height: 16px;
    left: 1078px;
    top: 32px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #757575;
}

.line {
    position: absolute;
    width: 1600px;
    height: 0px;
    left: 0px;
    top: 80px;
    border: 1px solid #ECECEC;
}

/*Main*/

.projects {
    position: absolute;
    width: 1170px;
    height: 1360px;
    left: 215px;
    top: 174px;
}

.projects-title {
    display: none;
}

.buttons {
    position: absolute;
    width: 611px;
    height: 54px;
    left: 495px;
    top: 174px; 
}

.filter1 {
    position: absolute;
    width: 29px;
    height: 26px;
    left: 0px;
    
}

.filter2 {
    position: absolute;
    width: 84px;
    height: 26px;
    left: 81px; 
   
}

.filter3 {
    position: absolute;
    width: 101px;
    height: 26px;
    left: 217px;
    
}

.filter4 {
    position: absolute;
    width: 59px;
    height: 26px;
    left: 370px;
    
}

.filter5 {
    position: absolute;
    width: 86px;
    height: 26px;
    left: 495px;
}

.project1 {
    position: absolute;
width: 370px;
height: 404px;
left: 0px;
top: 88px;
background: #FFFFFF;
border: 1px solid #EEEEEE;
}

.name-project {
    font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 36px;
letter-spacing: 0.06em;
color: #212121;
margin-left: 24px;
}

.sub-name {
    position: absolute;
    width: 322px;
    height: 30px;
        font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.03em;
    color: #757575;
    left: 24px;
    top: 334px;
}

.project2 {
    position: absolute;
width: 370px;
height: 404px;
left: 400px;
top: 88px;
background: #FFFFFF;
border: 1px solid #EEEEEE;
}

.project3 {
    position: absolute;
width: 370px;
height: 404px;
left: 800px;
top: 88px;
background: #FFFFFF;
border: 1px solid #EEEEEE;
}

.project4 {
    position: absolute;
width: 370px;
height: 404px;
left: 0px;
top: 522px;
background: #FFFFFF;
border: 1px solid #EEEEEE;
}

.project5 {
    position: absolute;
width: 370px;
height: 404px;
left: 400px;
top: 522px;
background: #FFFFFF;
border: 1px solid #EEEEEE;
}

.project6 {
    position: absolute;
width: 370px;
height: 404px;
left: 800px;
top: 522px;
    background: #FFFFFF;
border: 1px solid #EEEEEE;
}

.project7 {
    position: absolute;
width: 370px;
height: 404px;
left: 0px;
top: 956px;
    background: #FFFFFF;
border: 1px solid #EEEEEE;
}

.project8 {
    position: absolute;
width: 370px;
height: 404px;
left: 400px;
top: 956px;
    background: #FFFFFF;
border: 1px solid #EEEEEE;
}

.project9 {
    position: absolute;
width: 370px;
height: 404px;
left: 800px;
top: 956px;
    background: #FFFFFF;
border: 1px solid #EEEEEE;
}

footer {
    position: absolute;
width: 1600px;
height: 252px;
left: 0px;
top: 1628px;
background: #2F303A;
}

footer > a {
    position: absolute;
    width: 145px;
    height: 31px;
    left: 215px;
    top: 60px;
    
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}

footer > a > span {
    letter-spacing: 0.03em;
    color: #2196F3;
}

.address {
    position: absolute;
width: 231px;
height: 81px;
left: 215px;
top: 111px;
}

.location {
    position: absolute;
width: 231px;
height: 21px;
left: 215px;
top: 111px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
/* or 171% */

letter-spacing: 0.03em;

color: #FFFFFF;
}

.mail-f {
    position: absolute;
width: 231px;
height: 21px;
left: 215px;
top: 141px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
/* or 171% */

letter-spacing: 0.03em;

color: rgba(255, 255, 255, 0.6);
}

.tel-f {
    position: absolute;
width: 231px;
height: 21px;
left: 215px;
top: 171px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
/* or 171% */

letter-spacing: 0.03em;

color: rgba(255, 255, 255, 0.6);
}


